.dark-theme {
  --bg-color: #202020;
  --bg-secondary-color: #26313d;
  --primary-color: #dcdfe5;
  --secondary-color: #b8bcc2;
  --special-color: #5790c1;
  --popup-overlay-color: rgb(0 0 0 / 60%);
  --disabled-primary-color: #bbb;
  --text-error-color: #f54f2a;

  ///
  --text-color: #dcdfe5;
  --text-soft-color: #b8bcc2;
  --text-strong-color: #bbb;
  --subtle-color: #212529;
  --border-color: #26313d;
  --shadow-color: #000;
  --input-color: #1c1c1c;
  --outline-color: #64a4dc;
  --mark-color: #5790c114;
  --special-bg-color: #3c668a;
  --special-text-color: #dcdfe5;
  --special-shadow-color: #161f28;
  --special-mark-color: #dcdfe514;
  --light-color: #bfd6f2;
  --dark-color: #273645;
}
