.normal-theme {
  --bg-color: #fff;
  --bg-secondary-color: #dde8f6;
  --primary-color: #27313c;
  --secondary-color: #444b53;
  --special-color: #4784b6;
  --popup-overlay-color: rgb(0 0 0 / 60%);
  --disabled-primary-color: #4a4a4a;
  --text-error-color: #f54f2a;

  ///
  --text-color: #27313c;
  --text-soft-color: #444b53;
  --subtle-color: #f7f9fd;
  --border-color: #dde8f6;
  --shadow-color: #aac1dc;
  --input-color: #fff;
  --outline-color: #9dc3eb18;
  --mark-color: #4784b614;
  --special-bg-color: #4988bb;
  --special-text-color: #fff;
  --special-shadow-color: #475b71;
  --special-mark-color: #ffffff14;
  --light-color: #eef4fc;
  --dark-color: #37485a;
}
