.app.normal {
  --bg-color: #ffffff;
  --bg-secondary-color: #dde8f6;

  --primary-color: #27313c;
  --secondary-color: #444b53;
  --special-color: #4784b6;

  ///
  --text-color: #27313c;
  --text-soft-color: #444b53;
  --text-strong-color: #4a4a4a;
  --subtle-color: #f7f9fd;
  --border-color: #dde8f6;
  --shadow-color: #aac1dc;
  --input-color: #ffffff;
  --outline-color: #9dc3eb;
  --mark-color: #4784b614;

  --special-bg-color: #4988bb;
  --special-text-color: #ffffff;
  --special-shadow-color: #475b71;
  --special-mark-color: #ffffff14;
  --light-color: #eef4fc;
  --dark-color: #37485a;
}
